<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcQBs8Is7XzR9FQKvNZ36R0PaR5eI3dNudgA&usqp=CAU" height="200px"  alt="">
  </div>
  <div class="big-card__title">
    <h1> <a href="#"> Saiu a nova versao do angular </a></h1>
  </div>
  <div class="big-card__description">
    <p> <a href="#"> bla bla bla blaballba blabla bla bla bla blaballba blabla bla bla bla blaballba blabla bla bla bla blaballba blabla bla bla bla blaballba blabla bla bla bla blaballba blablabla bla bla blaballba blabla </a> </p>
  </div>
</div>
